.editProfileBackgroundSection {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 810px;
    background-image: url('../../assets/images/backgrounds/background6.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.editProfileBackgroundFilterSection {
    width: 100%;
    height: 100%;
    min-height: 810px;
    background-color: rgba(35, 9, 36, 0.9);
}

.editProfileSectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.editProfileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 5em;
    width: 90%;
    background-color: rgba(223, 88, 48, 0.6);
    border-radius: 30px;
    margin-top: 3em;
}

.editProfileSectionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editProfileUpdateSectionWrapper {
    margin: 3em 0 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.editProfileUpdateButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    font-family: 'Century Gothic';
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: white;
    border: 2px solid #341f97;
    border-radius: 20px;
    /*background-image: linear-gradient(to right, rgba(10,0,178,1) 0%, rgba(255,0,0,1) 100%);*/
    background-image: linear-gradient(to right, transparent 0%, #341f97 60%);
    background-color: transparent;
    transition: all 250ms ease-in-out; 
    cursor: pointer;
}

.editProfileUpdateButton:hover {
    background-color: #341f97;
}

.editProfileSectionPhotoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editProfileUpdatePhotoWrapper {
    width: fit-content;
    height: 1.5em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Century Gothic';
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1em;
    border: 2px solid transparent;
    transition: all 250ms ease-in-out; 
}

.editProfileUpdatePhotoWrapper:hover {
    border: 2px solid #341f97;
}

.editProfileUpdatePhotoIcon {
    width: 24px;
    height: 24px;
    margin-right: 1em;
}

.updatePhotoInput{
    opacity: 0;
}

.editProfileSectionPhotoWrapper {
    width: 15em;
    height: 15em;
    border-radius:50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editProfilePhoto {
    width: 14em;
    height: 14em;
    border-radius:50%;
}

.editProfileVerticalBreakline {
    width: 0.2em;
    height: 16em;
    background-color: white;
    border-radius: 50%;
    margin: 0 3em;
}

.editProfileSectionInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.editProfileInputTable {
    text-align: justify;
    color: white;
    border: 1px solid transparent;
    width: 100%;
}

.editProfileInputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.7em;
}

.editProfileInputLabel {
    font-family: 'Century Gothic';
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 3em;
}

.editProfileInputText {
    width: 20em;
    border: none;
    outline: none;
    font-size: 19px;
    font-family: 'Century Gothic';
    padding: 10px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    letter-spacing: 1px;
    border-radius: 30px;
    margin-right: 1em;
    border: 2px solid transparent;
    transition: all 250ms ease-in-out; 
}

.editProfileInputText:hover {
    border: 2px solid #341f97;
}

.editProfileInputText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
}

.editProfileInputText::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.editProfileEditIcon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.editProfileEditIcon:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.editProfilePasswordFieldContainer {
    width: 20em;
    letter-spacing: 0.5px;
    font-family: 'Century Gothic';
}

.editProfilePasswordFieldContainer[open] > .editProfilePasswordFieldLabel {
    margin-top: 0;
}

.editProfilePasswordFieldLabel {
    margin-top: 0.5em;
    padding: 0.5em 0 1em 0.5em;
    text-decoration: underline;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 250ms ease-in-out;
    list-style: none;
}

.editProfilePasswordFieldLabel:hover {
    color: #341f97;
}

.editProfilePasswordField {
    transition: all 400ms ease-in-out;
    display: flex;
    flex-direction: row;
    width: 30em;
}

.editProfileErrorMessage {
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 0.2em 1em;
    color: rgb(230, 75, 75);
    font-size: 16px;
    font-family: 'Century Gothic';
    font-weight: bold;
    width: fit-content;
    transition: all 250ms ease-in-out;
}

.editProfileInformationSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.editProfileReviewCounterLabel {
    font-size: 32px;
    font-family: 'Century Gothic';
    margin-bottom: 0.5em;
    color: white;
    letter-spacing: 1px;
}

.editProfileReviewCounter {
    font-size: 100px;
    font-family: 'Century Gothic';
    color: white;
    transition: all 500ms ease-out;
}