.LandingPageContainer {
    height: 198vh;
    background-image: url('../../assets/images/backgrounds/background4.jpg');
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.LandingPageWrapper {
    height: 198vh;
    background-color: rgba(34, 7, 36, 0.7);
    width: 100%;
    display: block;
    overflow: auto;
    direction: ltr;
}