.editReviewBackgroundSection {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 810px;
    background-image: url('../../assets/images/backgrounds/background5.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.editReviewBackgroundFilterSection {
    width: 100%;
    height: 100%;
    min-height: 810px;
    background-color: rgba(35, 9, 36, 0.9);
}

.editReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.editReviewHeader {
    width: 100%;
    color: white;
    display: flex;
    margin: 1em 0 0.5em 0;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Century Gothic';
    line-height: 1;
}

.editReviewBreaklineContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.editReviewBreakline {
    color: white;
    background-color: white;
    border-radius: 50%;
    width: 60%;
    padding: 0.03em 0;
}

.editReviewReviewSection {
    margin: 4em 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.editReviewReviewContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.editReviewEditingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

.editReviewSubmitReviewWrapper {
    background-color: rgba(223, 88, 48, 0.6);
    width: 132px;
    height: 148px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 0;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.editReviewSubmitReviewWrapper:hover {
    background-color: rgba(223, 88, 48, 0.8);
}

.editReviewCancelReviewWrapper {
    background-color: rgba(223, 88, 48, 0.6);
    width: 132px;
    height: 148px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 0;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.editReviewCancelReviewWrapper:hover {
    background-color: rgba(223, 88, 48, 0.8);
}

.editReviewEditingLabel {
    font-family: 'Century Gothic';
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.editReviewInputText {
    min-width: 30em;
    width: 37em;
    max-width: 38em;
    min-height: 5em;
    height: 10em;
    max-height: 20em;
    border: none;
    outline: none;
    font-size: 19px;
    font-family: 'Century Gothic';
    font-weight: bold;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    letter-spacing: 0.5px;
    border-radius: 30px;
    margin-right: 1em;
    text-align: justify;
    text-justify: inter-word;
    border: 2px solid rgba(53, 31, 151, 0.5);
    transition: all 250ms ease-in-out; 
}


.editReviewInputText:hover {
    border: 2px solid rgba(53, 31, 151, 1);
}

.editReviewInputText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.5);
}

.editReviewInputText::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.5);
}